.reset-password {
  .button-submit {
    width: 200px;
  }
  .form-center {
    width: 400px;
  }
  .card-login {
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .forgot-pass {
    width: 100%;
    text-align: right;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}