.profile-page {
  padding: 32px 32px;
}
.box{
  border: none;
  border-radius: 8px;
  background-color: rgba(243, 243, 243, 0.47);
  width: 200px;
  max-height: auto;
  padding: 20px 0px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

@media all and (max-width: 480px) {
      .box{
         margin-top: 30px;
      }
  
}
@media all and (max-width: 768px) {
  .box{
     margin-top: 30px;
  }

}
@media all and (max-width: 1024px) {
  .box{
     margin-top: 30px;
  }

}